Node-red/Backup/flows-backup.json
[
    {
        "id": "5c82d9b4d09c2894",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b5d74aa15333040",
        "type": "tcp in",
        "z": "5c82d9b4d09c2894",
        "name": "All AIS data",
        "server": "client",
        "host": "153.44.253.27",
        "port": "5631",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 70,
        "y": 120,
        "wires": [
            [
                "190ff23263b36983"
            ]
        ]
    },
    {
        "id": "190ff23263b36983",
        "type": "split",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "e1f5f9601ca7d91f"
            ]
        ]
    },
    {
        "id": "e1f5f9601ca7d91f",
        "type": "split",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "splt": "\\",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "8449da2f18ddcbbc"
            ]
        ]
    },
    {
        "id": "8449da2f18ddcbbc",
        "type": "switch",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "!",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "69eaf6617328c854"
            ],
            []
        ]
    },
    {
        "id": "3425f7995d4cbb80",
        "type": "switch",
        "z": "5c82d9b4d09c2894",
        "name": "Lagabøte",
        "property": "payload.mmsi",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "258592000",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 60,
        "wires": [
            [
                "9ac39c449ce98c15",
                "11fbea9555a0b508",
                "b2cc05890ac7d6ce",
                "d3b6be2ef139218c"
            ],
            []
        ]
    },
    {
        "id": "047e1eb53c8ea2e1",
        "type": "switch",
        "z": "5c82d9b4d09c2894",
        "name": "Nordnes",
        "property": "payload.mmsi",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "258033200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 120,
        "wires": [
            [
                "9ac39c449ce98c15",
                "11fbea9555a0b508",
                "b2cc05890ac7d6ce",
                "d3b6be2ef139218c"
            ],
            []
        ]
    },
    {
        "id": "9ac39c449ce98c15",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 100,
        "wires": []
    },
    {
        "id": "0419b759c41ac572",
        "type": "file",
        "z": "5c82d9b4d09c2894",
        "name": "Skriv marinogram",
        "filename": "C:\\Users\\LAB\\Dropbox\\Bachelor\\Python\\input_marinogram.svg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1030,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3d9a61c9af7c659b",
        "type": "http request",
        "z": "5c82d9b4d09c2894",
        "name": "Hente marinogram",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 260,
        "wires": [
            [
                "adfeded65747c6e9",
                "0419b759c41ac572"
            ]
        ]
    },
    {
        "id": "11fbea9555a0b508",
        "type": "function",
        "z": "5c82d9b4d09c2894",
        "name": "Hente data fra posisjon",
        "func": "const lat = msg.payload.latitude;\nconst long = msg.payload.longitude;\n\nmsg.url = `https://jtimeseries.k8s.met.no/jtimeseries-webservices/marinogram?format=svg&latitude=${lat}&longitude=${long}&waterTemperature=true&airTemperature=true&dewpointTemperature=true&pressure=true&waveHeight=true&waveDirection=true&currentDirection=true&currentSpeed=true&windDirection=true&windSpeed=true&timezone=Europe%2FOslo&language=no`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "3d9a61c9af7c659b"
            ]
        ]
    },
    {
        "id": "adfeded65747c6e9",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "Debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "69eaf6617328c854",
        "type": "ais",
        "z": "5c82d9b4d09c2894",
        "name": "AIS",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "3425f7995d4cbb80"
            ]
        ]
    },
    {
        "id": "b76a2257fb904e31",
        "type": "exec",
        "z": "5c82d9b4d09c2894",
        "command": "python C:\\Users\\LAB\\Dropbox\\Bachelor\\Python\\marinogram.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 860,
        "wires": [
            [
                "00ec7b70d343d150"
            ],
            [
                "00ec7b70d343d150"
            ],
            [
                "00ec7b70d343d150"
            ]
        ]
    },
    {
        "id": "1d0c6a46775fb7dc",
        "type": "inject",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 860,
        "wires": [
            [
                "b76a2257fb904e31"
            ]
        ]
    },
    {
        "id": "00ec7b70d343d150",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 860,
        "wires": []
    },
    {
        "id": "8986a1731287db0a",
        "type": "exec",
        "z": "5c82d9b4d09c2894",
        "command": "inkscape --export-plain-svg --export-filename=c:\\users\\lab\\dropbox\\bachelor\\python\\ny_marinogram.svg c:\\users\\lab\\dropbox\\bachelor\\python\\input_marinogram.svg",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Lagre marinogram",
        "x": 330,
        "y": 600,
        "wires": [
            [
                "340998c07253bc5b"
            ],
            [
                "340998c07253bc5b"
            ],
            [
                "340998c07253bc5b"
            ]
        ]
    },
    {
        "id": "da4a87de9a5c00c7",
        "type": "inject",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "8986a1731287db0a"
            ]
        ]
    },
    {
        "id": "340998c07253bc5b",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "114bde58c2720a6e",
        "type": "complete",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "scope": [
            "0419b759c41ac572"
        ],
        "uncaught": false,
        "x": 90,
        "y": 540,
        "wires": [
            [
                "0fbea90422be1f86"
            ]
        ]
    },
    {
        "id": "0fbea90422be1f86",
        "type": "delay",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 540,
        "wires": [
            [
                "8986a1731287db0a"
            ]
        ]
    },
    {
        "id": "2cfc66df94e33af3",
        "type": "delay",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 800,
        "wires": [
            [
                "b76a2257fb904e31"
            ]
        ]
    },
    {
        "id": "7ee6a89697dd41e1",
        "type": "file",
        "z": "5c82d9b4d09c2894",
        "name": "Skriv meteogram",
        "filename": "C:\\Users\\LAB\\Dropbox\\Bachelor\\Python\\input_meteogram.svg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1030,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "56e87ae70463b5e5",
        "type": "http request",
        "z": "5c82d9b4d09c2894",
        "name": "Hente meteogram",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 360,
        "wires": [
            [
                "d2638b1fc913ed63",
                "7ee6a89697dd41e1"
            ]
        ]
    },
    {
        "id": "d2638b1fc913ed63",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "Debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 340,
        "wires": []
    },
    {
        "id": "b2cc05890ac7d6ce",
        "type": "function",
        "z": "5c82d9b4d09c2894",
        "name": "Hente data fra posisjon",
        "func": "const lat = msg.payload.latitude;\nconst long = msg.payload.longitude;\n\nmsg.url = `https://www.yr.no/nb/innhold/${lat},${long}/meteogram.svg`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "56e87ae70463b5e5"
            ]
        ]
    },
    {
        "id": "5630797a15c23103",
        "type": "inject",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 720,
        "wires": [
            [
                "2fdd57baeed46c99"
            ]
        ]
    },
    {
        "id": "e2f6dde1fe8c805a",
        "type": "complete",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "scope": [
            "0419b759c41ac572"
        ],
        "uncaught": false,
        "x": 90,
        "y": 660,
        "wires": [
            [
                "3bb457e0a20410e8"
            ]
        ]
    },
    {
        "id": "3bb457e0a20410e8",
        "type": "delay",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 660,
        "wires": [
            [
                "2fdd57baeed46c99"
            ]
        ]
    },
    {
        "id": "2fdd57baeed46c99",
        "type": "exec",
        "z": "5c82d9b4d09c2894",
        "command": "inkscape --export-plain-svg --export-filename=c:\\users\\lab\\dropbox\\bachelor\\python\\ny_meteogram.svg c:\\users\\lab\\dropbox\\bachelor\\python\\input_meteogram.svg",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Lagre Meteogram",
        "x": 330,
        "y": 720,
        "wires": [
            [
                "76c5f5519f90a5f0"
            ],
            [
                "76c5f5519f90a5f0"
            ],
            [
                "76c5f5519f90a5f0"
            ]
        ]
    },
    {
        "id": "4455b438b93a9994",
        "type": "file",
        "z": "5c82d9b4d09c2894",
        "name": "Skriv tidevann",
        "filename": "C:\\Users\\LAB\\Dropbox\\Bachelor\\Python\\input_tidevann.xml",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1020,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "04187aef63164a94",
        "type": "http request",
        "z": "5c82d9b4d09c2894",
        "name": "Hente Tidevann",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 460,
        "wires": [
            [
                "4455b438b93a9994",
                "6c19c384144f6ac4"
            ]
        ]
    },
    {
        "id": "6c19c384144f6ac4",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "Debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 440,
        "wires": []
    },
    {
        "id": "d3b6be2ef139218c",
        "type": "function",
        "z": "5c82d9b4d09c2894",
        "name": "Hente data fra posisjon",
        "func": "const lat = msg.payload.latitude;\nconst long = msg.payload.longitude;\n\nvar today=new Date(Date.now());\nvar tomorrow = new Date();\n\ntomorrow.setDate(today.getDate() + 1)\n\nlet d1s = today.toISOString();\nlet d2s = tomorrow.toISOString();\n\nvar dato1 = d1s.substring(0,10);\nvar dato2 = d2s.substring(0,10);\n\nmsg.url = `https://api.sehavniva.no/tideapi.php?lat=${lat}&lon=${long}&fromtime=${dato1}T00%3A00&totime=${dato2}T00%3A00&datatype=all&refcode=cd&place=&file=&lang=nb&interval=60&dst=0&tzone=&tide_request=locationdata`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 460,
        "wires": [
            [
                "04187aef63164a94"
            ]
        ]
    },
    {
        "id": "76c5f5519f90a5f0",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 720,
        "wires": []
    },
    {
        "id": "1ea233797f116ef0",
        "type": "complete",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "scope": [
            "8986a1731287db0a"
        ],
        "uncaught": false,
        "x": 90,
        "y": 800,
        "wires": [
            [
                "2cfc66df94e33af3"
            ]
        ]
    },
    {
        "id": "50ddbd8236ea33e5",
        "type": "exec",
        "z": "5c82d9b4d09c2894",
        "command": "python C:\\Users\\LAB\\Dropbox\\Bachelor\\Python\\meteogram.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 1000,
        "wires": [
            [
                "d0ba7791a40e689e"
            ],
            [
                "d0ba7791a40e689e"
            ],
            [
                "d0ba7791a40e689e"
            ]
        ]
    },
    {
        "id": "8e8d28a91562fa30",
        "type": "inject",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1000,
        "wires": [
            [
                "50ddbd8236ea33e5"
            ]
        ]
    },
    {
        "id": "d0ba7791a40e689e",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1000,
        "wires": []
    },
    {
        "id": "29d503a1a00ab82d",
        "type": "delay",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 940,
        "wires": [
            [
                "50ddbd8236ea33e5"
            ]
        ]
    },
    {
        "id": "f1fee81507455482",
        "type": "complete",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "scope": [
            "2fdd57baeed46c99"
        ],
        "uncaught": false,
        "x": 90,
        "y": 940,
        "wires": [
            [
                "29d503a1a00ab82d"
            ]
        ]
    },
    {
        "id": "4e89bcebd10d3fc2",
        "type": "exec",
        "z": "5c82d9b4d09c2894",
        "command": "python C:\\Users\\LAB\\Dropbox\\Bachelor\\Python\\tidevann.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 1140,
        "wires": [
            [
                "ffadd49fd0ef608d"
            ],
            [
                "ffadd49fd0ef608d"
            ],
            [
                "ffadd49fd0ef608d"
            ]
        ]
    },
    {
        "id": "228de74dc3b2219d",
        "type": "inject",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1140,
        "wires": [
            [
                "4e89bcebd10d3fc2"
            ]
        ]
    },
    {
        "id": "ffadd49fd0ef608d",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f1eb73b685e06ddf",
        "type": "delay",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 1080,
        "wires": [
            [
                "4e89bcebd10d3fc2"
            ]
        ]
    },
    {
        "id": "2e100d5dbf1e8607",
        "type": "complete",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "scope": [
            "4455b438b93a9994"
        ],
        "uncaught": false,
        "x": 90,
        "y": 1080,
        "wires": [
            [
                "f1eb73b685e06ddf"
            ]
        ]
    },
    {
        "id": "2082e1f9fc2c0558",
        "type": "switch",
        "z": "5c82d9b4d09c2894",
        "name": "Kvarven",
        "property": "payload.mmsi",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "258032200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 20,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cca16836e04f0dd2",
        "type": "http in",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "url": "/coordinates",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 1240,
        "wires": [
            [
                "2bfca8fb4de62105"
            ]
        ]
    },
    {
        "id": "2bfca8fb4de62105",
        "type": "function",
        "z": "5c82d9b4d09c2894",
        "name": "Hente data fra posisjon",
        "func": "const lat = msg.payload.latitude;\nconst long = msg.payload.longitude;\n\nmsg.url = `https://jtimeseries.k8s.met.no/jtimeseries-webservices/marinogram?format=svg&latitude=${lat}&longitude=${long}&waterTemperature=true&airTemperature=true&dewpointTemperature=true&pressure=true&waveHeight=true&waveDirection=true&currentDirection=true&currentSpeed=true&windDirection=true&windSpeed=true&timezone=Europe%2FOslo&language=no`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1240,
        "wires": [
            []
        ]
    }
]