Node-red/flows.json
[
    {
        "id": "fab6d742d72aa852",
        "type": "tab",
        "label": "Live fra valgt posisjon",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c82d9b4d09c2894",
        "type": "tab",
        "label": "Live fra posisjon",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8e1640cb5cd90d7f",
        "type": "file",
        "z": "fab6d742d72aa852",
        "name": "Skriv marinogram",
        "filename": "C:\\Users\\LAB\\Dropbox\\Bachelor\\data_inn\\valgt_pos\\input_marinogram.svg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 910,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1ea3700b25ec5e4a",
        "type": "http request",
        "z": "fab6d742d72aa852",
        "name": "Hente marinogram",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 220,
        "wires": [
            [
                "bf6bd8126fb1911b",
                "8e1640cb5cd90d7f"
            ]
        ]
    },
    {
        "id": "48c1f1dc289b40de",
        "type": "function",
        "z": "fab6d742d72aa852",
        "name": "Hente data fra posisjon",
        "func": "const lat = msg.payload.latitude;\nconst long = msg.payload.longitude;\n\nmsg.url = `https://jtimeseries.k8s.met.no/jtimeseries-webservices/marinogram?format=svg&latitude=${lat}&longitude=${long}&waterTemperature=true&airTemperature=true&dewpointTemperature=true&pressure=true&waveHeight=true&waveDirection=true&currentDirection=true&currentSpeed=true&windDirection=true&windSpeed=true&timezone=Europe%2FOslo&language=no`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "1ea3700b25ec5e4a"
            ]
        ]
    },
    {
        "id": "bf6bd8126fb1911b",
        "type": "debug",
        "z": "fab6d742d72aa852",
        "name": "Debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "676b156ace3d21af",
        "type": "exec",
        "z": "fab6d742d72aa852",
        "command": "python C:\\Users\\LAB\\Dropbox\\Bachelor\\python\\marinogram_valgt.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 740,
        "wires": [
            [
                "bafbf1d4c01eafd9"
            ],
            [
                "bafbf1d4c01eafd9"
            ],
            [
                "bafbf1d4c01eafd9"
            ]
        ]
    },
    {
        "id": "d86132d686e721ad",
        "type": "inject",
        "z": "fab6d742d72aa852",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "676b156ace3d21af"
            ]
        ]
    },
    {
        "id": "bafbf1d4c01eafd9",
        "type": "debug",
        "z": "fab6d742d72aa852",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 740,
        "wires": []
    },
    {
        "id": "c8c5e94725ec266c",
        "type": "exec",
        "z": "fab6d742d72aa852",
        "command": "inkscape --export-plain-svg --export-area-drawing --export-filename=c:\\users\\lab\\dropbox\\bachelor\\data_inn\\valgt_pos\\ny_marinogram.svg c:\\users\\lab\\dropbox\\bachelor\\data_inn\\valgt_pos\\input_marinogram.svg",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Lagre marinogram",
        "x": 310,
        "y": 500,
        "wires": [
            [],
            [
                "de06983649c73cab"
            ],
            [
                "de06983649c73cab"
            ]
        ]
    },
    {
        "id": "1e3cc40f64a27034",
        "type": "inject",
        "z": "fab6d742d72aa852",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "c8c5e94725ec266c"
            ]
        ]
    },
    {
        "id": "de06983649c73cab",
        "type": "debug",
        "z": "fab6d742d72aa852",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "1ab532b3cf36344c",
        "type": "complete",
        "z": "fab6d742d72aa852",
        "name": "",
        "scope": [
            "8e1640cb5cd90d7f"
        ],
        "uncaught": false,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "7b980af91f370f9d"
            ]
        ]
    },
    {
        "id": "7b980af91f370f9d",
        "type": "delay",
        "z": "fab6d742d72aa852",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 440,
        "wires": [
            [
                "c8c5e94725ec266c"
            ]
        ]
    },
    {
        "id": "0a250f2181c31ea8",
        "type": "delay",
        "z": "fab6d742d72aa852",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 680,
        "wires": [
            [
                "676b156ace3d21af"
            ]
        ]
    },
    {
        "id": "4a4ed7f156820995",
        "type": "file",
        "z": "fab6d742d72aa852",
        "name": "Skriv meteogram",
        "filename": "C:\\Users\\LAB\\Dropbox\\Bachelor\\data_inn\\valgt_pos\\input_meteogram.svg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 910,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "29dfbc47cdcec684",
        "type": "http request",
        "z": "fab6d742d72aa852",
        "name": "Hente meteogram",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 300,
        "wires": [
            [
                "8e6c0ee3c71c72fa",
                "4a4ed7f156820995"
            ]
        ]
    },
    {
        "id": "8e6c0ee3c71c72fa",
        "type": "debug",
        "z": "fab6d742d72aa852",
        "name": "Debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "d4af6a8e226ecfb9",
        "type": "function",
        "z": "fab6d742d72aa852",
        "name": "Hente data fra posisjon",
        "func": "const lat = msg.payload.latitude;\nconst long = msg.payload.longitude;\n\nmsg.url = `https://www.yr.no/nb/innhold/${lat},${long}/meteogram.svg`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "29dfbc47cdcec684"
            ]
        ]
    },
    {
        "id": "91ee652cf478dae9",
        "type": "inject",
        "z": "fab6d742d72aa852",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 620,
        "wires": [
            [
                "dd8942c7bbd3e2b8"
            ]
        ]
    },
    {
        "id": "efeb18e39c91dc45",
        "type": "complete",
        "z": "fab6d742d72aa852",
        "name": "",
        "scope": [
            "8e1640cb5cd90d7f"
        ],
        "uncaught": false,
        "x": 90,
        "y": 560,
        "wires": [
            [
                "c6aed7b07d420037"
            ]
        ]
    },
    {
        "id": "c6aed7b07d420037",
        "type": "delay",
        "z": "fab6d742d72aa852",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "dd8942c7bbd3e2b8"
            ]
        ]
    },
    {
        "id": "dd8942c7bbd3e2b8",
        "type": "exec",
        "z": "fab6d742d72aa852",
        "command": "inkscape --export-plain-svg --export-area-drawing --export-filename=c:\\users\\lab\\dropbox\\bachelor\\data_inn\\valgt_pos\\ny_meteogram.svg c:\\users\\lab\\dropbox\\bachelor\\data_inn\\valgt_pos\\input_meteogram.svg",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Lagre Meteogram",
        "x": 310,
        "y": 620,
        "wires": [
            [],
            [
                "61c0cb89b9916977"
            ],
            [
                "61c0cb89b9916977"
            ]
        ]
    },
    {
        "id": "9ba12a77da4dd541",
        "type": "file",
        "z": "fab6d742d72aa852",
        "name": "Skriv tidevann",
        "filename": "C:\\Users\\LAB\\Dropbox\\Bachelor\\data_inn\\valgt_pos\\input_tidevann.xml",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 900,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "92d613cdce8c9147",
        "type": "http request",
        "z": "fab6d742d72aa852",
        "name": "Hente Tidevann",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 680,
        "y": 380,
        "wires": [
            [
                "9ba12a77da4dd541",
                "6229a3fdb545b8e6"
            ]
        ]
    },
    {
        "id": "6229a3fdb545b8e6",
        "type": "debug",
        "z": "fab6d742d72aa852",
        "name": "Debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd650b35e8d62d97",
        "type": "function",
        "z": "fab6d742d72aa852",
        "name": "Hente data fra posisjon",
        "func": "const lat = msg.payload.latitude;\nconst long = msg.payload.longitude;\n\nvar today=new Date(Date.now());\nvar tomorrow = new Date();\n\ntomorrow.setDate(today.getDate() + 1)\n\nlet d1s = today.toISOString();\nlet d2s = tomorrow.toISOString();\n\nvar dato1 = d1s.substring(0,10);\nvar dato2 = d2s.substring(0,10);\n\nmsg.url = `https://api.sehavniva.no/tideapi.php?lat=${lat}&lon=${long}&fromtime=${dato1}T00%3A00&totime=${dato2}T00%3A00&datatype=all&refcode=cd&place=&file=&lang=nb&interval=60&dst=0&tzone=&tide_request=locationdata`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "92d613cdce8c9147"
            ]
        ]
    },
    {
        "id": "61c0cb89b9916977",
        "type": "debug",
        "z": "fab6d742d72aa852",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 620,
        "wires": []
    },
    {
        "id": "1c605f734a6c4578",
        "type": "complete",
        "z": "fab6d742d72aa852",
        "name": "",
        "scope": [
            "c8c5e94725ec266c"
        ],
        "uncaught": false,
        "x": 90,
        "y": 680,
        "wires": [
            [
                "0a250f2181c31ea8"
            ]
        ]
    },
    {
        "id": "825c2bccdcb1f5df",
        "type": "exec",
        "z": "fab6d742d72aa852",
        "command": "python C:\\Users\\LAB\\Dropbox\\Bachelor\\python\\meteogram_valgt.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 860,
        "wires": [
            [
                "df34a1d8de1a3689"
            ],
            [
                "df34a1d8de1a3689"
            ],
            [
                "df34a1d8de1a3689"
            ]
        ]
    },
    {
        "id": "2677382f9adf2b02",
        "type": "inject",
        "z": "fab6d742d72aa852",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 860,
        "wires": [
            [
                "825c2bccdcb1f5df"
            ]
        ]
    },
    {
        "id": "df34a1d8de1a3689",
        "type": "debug",
        "z": "fab6d742d72aa852",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 860,
        "wires": []
    },
    {
        "id": "f93ddf692df3a15e",
        "type": "delay",
        "z": "fab6d742d72aa852",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 800,
        "wires": [
            [
                "825c2bccdcb1f5df"
            ]
        ]
    },
    {
        "id": "0a229c6eabde538e",
        "type": "complete",
        "z": "fab6d742d72aa852",
        "name": "",
        "scope": [
            "dd8942c7bbd3e2b8"
        ],
        "uncaught": false,
        "x": 90,
        "y": 800,
        "wires": [
            [
                "f93ddf692df3a15e"
            ]
        ]
    },
    {
        "id": "f46b3773f51d52db",
        "type": "exec",
        "z": "fab6d742d72aa852",
        "command": "python C:\\Users\\LAB\\Dropbox\\Bachelor\\python\\tidevann_valgt.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 980,
        "wires": [
            [
                "3a40f3a92d196b65"
            ],
            [
                "3a40f3a92d196b65"
            ],
            [
                "3a40f3a92d196b65"
            ]
        ]
    },
    {
        "id": "5a076e665146dada",
        "type": "inject",
        "z": "fab6d742d72aa852",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 980,
        "wires": [
            [
                "f46b3773f51d52db"
            ]
        ]
    },
    {
        "id": "3a40f3a92d196b65",
        "type": "debug",
        "z": "fab6d742d72aa852",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 980,
        "wires": []
    },
    {
        "id": "cb04750696ed4339",
        "type": "delay",
        "z": "fab6d742d72aa852",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 920,
        "wires": [
            [
                "f46b3773f51d52db"
            ]
        ]
    },
    {
        "id": "7e6f0a24b8d555e3",
        "type": "complete",
        "z": "fab6d742d72aa852",
        "name": "",
        "scope": [
            "9ba12a77da4dd541"
        ],
        "uncaught": false,
        "x": 90,
        "y": 920,
        "wires": [
            [
                "cb04750696ed4339"
            ]
        ]
    },
    {
        "id": "2e9a22b69011c982",
        "type": "http in",
        "z": "fab6d742d72aa852",
        "name": "",
        "url": "/coordinates",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "39416a09fa47eaa5"
            ]
        ]
    },
    {
        "id": "39416a09fa47eaa5",
        "type": "function",
        "z": "fab6d742d72aa852",
        "name": "Hente data fra posisjon",
        "func": "const lat = msg.payload.latitude;\nconst long = msg.payload.longitude;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "9156a69570a07d75",
                "48c1f1dc289b40de",
                "d4af6a8e226ecfb9",
                "fd650b35e8d62d97",
                "b9b721a0c0c589ea"
            ]
        ]
    },
    {
        "id": "9156a69570a07d75",
        "type": "debug",
        "z": "fab6d742d72aa852",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "f22f09571f5f2a26",
        "type": "http in",
        "z": "fab6d742d72aa852",
        "name": "",
        "url": "/slider",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "e6d03b1f7b35e5f0",
                "1c0673234eaff67c"
            ]
        ]
    },
    {
        "id": "64c60cf859bd12d7",
        "type": "exec",
        "z": "fab6d742d72aa852",
        "command": "",
        "addpay": "url",
        "append": "",
        "useSpawn": "true",
        "timer": "2",
        "winHide": false,
        "oldrc": false,
        "name": "Lysstyrke",
        "x": 500,
        "y": 40,
        "wires": [
            [
                "1c0673234eaff67c"
            ],
            [
                "1c0673234eaff67c"
            ],
            [
                "1c0673234eaff67c"
            ]
        ]
    },
    {
        "id": "1c0673234eaff67c",
        "type": "debug",
        "z": "fab6d742d72aa852",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "e6d03b1f7b35e5f0",
        "type": "function",
        "z": "fab6d742d72aa852",
        "name": "function 2",
        "func": "var verdi = msg.payload.range;\nmsg.url = `powershell (Get-WmiObject -Namespace root/WMI -Class WmiMonitorBrightnessMethods).WmiSetBrightness(1,${verdi})`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 40,
        "wires": [
            [
                "64c60cf859bd12d7"
            ]
        ]
    },
    {
        "id": "b9b721a0c0c589ea",
        "type": "file",
        "z": "fab6d742d72aa852",
        "name": "Skriv posisjon",
        "filename": "c:\\users\\lab\\dropbox\\bachelor\\data_inn\\valgt_pos\\valgt_posisjon.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 660,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9ea7b1327e026391",
        "type": "exec",
        "z": "fab6d742d72aa852",
        "command": "python C:\\Users\\LAB\\Dropbox\\Bachelor\\python\\astronomisk_valgt.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 1100,
        "wires": [
            [
                "f5bffd997bb5a533"
            ],
            [
                "f5bffd997bb5a533"
            ],
            [
                "f5bffd997bb5a533"
            ]
        ]
    },
    {
        "id": "5ff460a474c09488",
        "type": "inject",
        "z": "fab6d742d72aa852",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1100,
        "wires": [
            [
                "9ea7b1327e026391"
            ]
        ]
    },
    {
        "id": "f5bffd997bb5a533",
        "type": "debug",
        "z": "fab6d742d72aa852",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1100,
        "wires": []
    },
    {
        "id": "7fd2e52562327896",
        "type": "delay",
        "z": "fab6d742d72aa852",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 1040,
        "wires": [
            [
                "9ea7b1327e026391"
            ]
        ]
    },
    {
        "id": "1ce22edce0204a3b",
        "type": "complete",
        "z": "fab6d742d72aa852",
        "name": "",
        "scope": [
            "b9b721a0c0c589ea"
        ],
        "uncaught": false,
        "x": 90,
        "y": 1040,
        "wires": [
            [
                "7fd2e52562327896"
            ]
        ]
    },
    {
        "id": "0b5d74aa15333040",
        "type": "tcp in",
        "z": "5c82d9b4d09c2894",
        "name": "All AIS data",
        "server": "client",
        "host": "153.44.253.27",
        "port": "5631",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "190ff23263b36983"
            ]
        ]
    },
    {
        "id": "190ff23263b36983",
        "type": "split",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "e1f5f9601ca7d91f"
            ]
        ]
    },
    {
        "id": "e1f5f9601ca7d91f",
        "type": "split",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "splt": "\\",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "8449da2f18ddcbbc"
            ]
        ]
    },
    {
        "id": "8449da2f18ddcbbc",
        "type": "switch",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "!",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "69eaf6617328c854"
            ],
            []
        ]
    },
    {
        "id": "3425f7995d4cbb80",
        "type": "switch",
        "z": "5c82d9b4d09c2894",
        "name": "Kvarven",
        "property": "payload.mmsi",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "258032200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 120,
        "wires": [
            [
                "9ac39c449ce98c15",
                "11fbea9555a0b508",
                "b2cc05890ac7d6ce",
                "d3b6be2ef139218c",
                "47f3a760e27e3454"
            ],
            []
        ]
    },
    {
        "id": "9ac39c449ce98c15",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "0419b759c41ac572",
        "type": "file",
        "z": "5c82d9b4d09c2894",
        "name": "Skriv marinogram",
        "filename": "C:\\Users\\LAB\\Dropbox\\Bachelor\\data_inn\\live_pos\\input_marinogram.svg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1090,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3d9a61c9af7c659b",
        "type": "http request",
        "z": "5c82d9b4d09c2894",
        "name": "Hente marinogram",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 200,
        "wires": [
            [
                "adfeded65747c6e9",
                "0419b759c41ac572"
            ]
        ]
    },
    {
        "id": "11fbea9555a0b508",
        "type": "function",
        "z": "5c82d9b4d09c2894",
        "name": "Hente data fra posisjon",
        "func": "const lat = msg.payload.latitude;\nconst long = msg.payload.longitude;\n\nmsg.url = `https://jtimeseries.k8s.met.no/jtimeseries-webservices/marinogram?format=svg&latitude=${lat}&longitude=${long}&waterTemperature=true&airTemperature=true&dewpointTemperature=true&pressure=true&waveHeight=true&waveDirection=true&currentDirection=true&currentSpeed=true&windDirection=true&windSpeed=true&timezone=Europe%2FOslo&language=no`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [
            [
                "3d9a61c9af7c659b"
            ]
        ]
    },
    {
        "id": "adfeded65747c6e9",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 180,
        "wires": []
    },
    {
        "id": "69eaf6617328c854",
        "type": "ais",
        "z": "5c82d9b4d09c2894",
        "name": "AIS",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "3425f7995d4cbb80"
            ]
        ]
    },
    {
        "id": "b76a2257fb904e31",
        "type": "exec",
        "z": "5c82d9b4d09c2894",
        "command": "python C:\\Users\\LAB\\Dropbox\\Bachelor\\python\\marinogram_live.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 760,
        "wires": [
            [
                "00ec7b70d343d150"
            ],
            [
                "00ec7b70d343d150"
            ],
            [
                "00ec7b70d343d150"
            ]
        ]
    },
    {
        "id": "1d0c6a46775fb7dc",
        "type": "inject",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 760,
        "wires": [
            [
                "b76a2257fb904e31"
            ]
        ]
    },
    {
        "id": "00ec7b70d343d150",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 760,
        "wires": []
    },
    {
        "id": "8986a1731287db0a",
        "type": "exec",
        "z": "5c82d9b4d09c2894",
        "command": "inkscape --export-plain-svg --export-area-drawing --export-filename=c:\\users\\lab\\dropbox\\bachelor\\data_inn\\live_pos\\ny_marinogram.svg c:\\users\\lab\\dropbox\\bachelor\\data_inn\\live_pos\\input_marinogram.svg",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Lagre marinogram",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "340998c07253bc5b"
            ],
            [
                "340998c07253bc5b"
            ],
            [
                "340998c07253bc5b"
            ]
        ]
    },
    {
        "id": "da4a87de9a5c00c7",
        "type": "inject",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "8986a1731287db0a"
            ]
        ]
    },
    {
        "id": "340998c07253bc5b",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "114bde58c2720a6e",
        "type": "complete",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "scope": [
            "0419b759c41ac572"
        ],
        "uncaught": false,
        "x": 90,
        "y": 460,
        "wires": [
            [
                "0fbea90422be1f86"
            ]
        ]
    },
    {
        "id": "0fbea90422be1f86",
        "type": "delay",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 460,
        "wires": [
            [
                "8986a1731287db0a"
            ]
        ]
    },
    {
        "id": "2cfc66df94e33af3",
        "type": "delay",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 700,
        "wires": [
            [
                "b76a2257fb904e31"
            ]
        ]
    },
    {
        "id": "7ee6a89697dd41e1",
        "type": "file",
        "z": "5c82d9b4d09c2894",
        "name": "Skriv meteogram",
        "filename": "C:\\Users\\LAB\\Dropbox\\Bachelor\\data_inn\\live_pos\\input_meteogram.svg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1090,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "56e87ae70463b5e5",
        "type": "http request",
        "z": "5c82d9b4d09c2894",
        "name": "Hente meteogram",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 280,
        "wires": [
            [
                "d2638b1fc913ed63",
                "7ee6a89697dd41e1"
            ]
        ]
    },
    {
        "id": "d2638b1fc913ed63",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "Debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 260,
        "wires": []
    },
    {
        "id": "b2cc05890ac7d6ce",
        "type": "function",
        "z": "5c82d9b4d09c2894",
        "name": "Hente data fra posisjon",
        "func": "const lat = msg.payload.latitude;\nconst long = msg.payload.longitude;\n\nmsg.url = `https://www.yr.no/nb/innhold/${lat},${long}/meteogram.svg`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 280,
        "wires": [
            [
                "56e87ae70463b5e5"
            ]
        ]
    },
    {
        "id": "5630797a15c23103",
        "type": "inject",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "2fdd57baeed46c99"
            ]
        ]
    },
    {
        "id": "e2f6dde1fe8c805a",
        "type": "complete",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "scope": [
            "0419b759c41ac572"
        ],
        "uncaught": false,
        "x": 90,
        "y": 580,
        "wires": [
            [
                "3bb457e0a20410e8"
            ]
        ]
    },
    {
        "id": "3bb457e0a20410e8",
        "type": "delay",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 580,
        "wires": [
            [
                "2fdd57baeed46c99"
            ]
        ]
    },
    {
        "id": "2fdd57baeed46c99",
        "type": "exec",
        "z": "5c82d9b4d09c2894",
        "command": "inkscape --export-plain-svg --export-area-drawing --export-filename=c:\\users\\lab\\dropbox\\bachelor\\data_inn\\live_pos\\ny_meteogram.svg c:\\users\\lab\\dropbox\\bachelor\\data_inn\\live_pos\\input_meteogram.svg",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Lagre Meteogram",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "76c5f5519f90a5f0"
            ],
            [
                "76c5f5519f90a5f0"
            ],
            [
                "76c5f5519f90a5f0"
            ]
        ]
    },
    {
        "id": "4455b438b93a9994",
        "type": "file",
        "z": "5c82d9b4d09c2894",
        "name": "Skriv tidevann",
        "filename": "C:\\Users\\LAB\\Dropbox\\Bachelor\\data_inn\\live_pos\\input_tidevann.xml",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1080,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "04187aef63164a94",
        "type": "http request",
        "z": "5c82d9b4d09c2894",
        "name": "Hente Tidevann",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 860,
        "y": 360,
        "wires": [
            [
                "4455b438b93a9994",
                "6c19c384144f6ac4"
            ]
        ]
    },
    {
        "id": "6c19c384144f6ac4",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "Debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "d3b6be2ef139218c",
        "type": "function",
        "z": "5c82d9b4d09c2894",
        "name": "Hente data fra posisjon",
        "func": "const lat = msg.payload.latitude;\nconst long = msg.payload.longitude;\n\nvar today=new Date(Date.now());\nvar tomorrow = new Date();\n\ntomorrow.setDate(today.getDate() + 1)\n\nlet d1s = today.toISOString();\nlet d2s = tomorrow.toISOString();\n\nvar dato1 = d1s.substring(0,10);\nvar dato2 = d2s.substring(0,10);\n\nmsg.url = `https://api.sehavniva.no/tideapi.php?lat=${lat}&lon=${long}&fromtime=${dato1}T00%3A00&totime=${dato2}T00%3A00&datatype=all&refcode=cd&place=&file=&lang=nb&interval=60&dst=0&tzone=&tide_request=locationdata`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 360,
        "wires": [
            [
                "04187aef63164a94"
            ]
        ]
    },
    {
        "id": "76c5f5519f90a5f0",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 640,
        "wires": []
    },
    {
        "id": "1ea233797f116ef0",
        "type": "complete",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "scope": [
            "8986a1731287db0a"
        ],
        "uncaught": false,
        "x": 90,
        "y": 700,
        "wires": [
            [
                "2cfc66df94e33af3"
            ]
        ]
    },
    {
        "id": "50ddbd8236ea33e5",
        "type": "exec",
        "z": "5c82d9b4d09c2894",
        "command": "python C:\\Users\\LAB\\Dropbox\\Bachelor\\python\\meteogram_live.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 880,
        "wires": [
            [
                "d0ba7791a40e689e"
            ],
            [
                "d0ba7791a40e689e"
            ],
            [
                "d0ba7791a40e689e"
            ]
        ]
    },
    {
        "id": "8e8d28a91562fa30",
        "type": "inject",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 880,
        "wires": [
            [
                "50ddbd8236ea33e5"
            ]
        ]
    },
    {
        "id": "d0ba7791a40e689e",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 880,
        "wires": []
    },
    {
        "id": "29d503a1a00ab82d",
        "type": "delay",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 820,
        "wires": [
            [
                "50ddbd8236ea33e5"
            ]
        ]
    },
    {
        "id": "f1fee81507455482",
        "type": "complete",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "scope": [
            "2fdd57baeed46c99"
        ],
        "uncaught": false,
        "x": 90,
        "y": 820,
        "wires": [
            [
                "29d503a1a00ab82d"
            ]
        ]
    },
    {
        "id": "4e89bcebd10d3fc2",
        "type": "exec",
        "z": "5c82d9b4d09c2894",
        "command": "python C:\\Users\\LAB\\Dropbox\\Bachelor\\python\\tidevann_live.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 1000,
        "wires": [
            [
                "ffadd49fd0ef608d"
            ],
            [
                "ffadd49fd0ef608d"
            ],
            [
                "ffadd49fd0ef608d"
            ]
        ]
    },
    {
        "id": "228de74dc3b2219d",
        "type": "inject",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1000,
        "wires": [
            [
                "4e89bcebd10d3fc2"
            ]
        ]
    },
    {
        "id": "ffadd49fd0ef608d",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f1eb73b685e06ddf",
        "type": "delay",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 940,
        "wires": [
            [
                "4e89bcebd10d3fc2"
            ]
        ]
    },
    {
        "id": "2e100d5dbf1e8607",
        "type": "complete",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "scope": [
            "4455b438b93a9994"
        ],
        "uncaught": false,
        "x": 90,
        "y": 940,
        "wires": [
            [
                "f1eb73b685e06ddf"
            ]
        ]
    },
    {
        "id": "47f3a760e27e3454",
        "type": "file",
        "z": "5c82d9b4d09c2894",
        "name": "Skriv alt",
        "filename": "c:\\users\\lab\\dropbox\\bachelor\\data_inn\\live_pos\\ais.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 920,
        "y": 80,
        "wires": [
            [
                "ba17919c30c6a8c3"
            ]
        ]
    },
    {
        "id": "ba17919c30c6a8c3",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "5c34b010b743291d",
        "type": "exec",
        "z": "5c82d9b4d09c2894",
        "command": "python C:\\Users\\LAB\\Dropbox\\Bachelor\\python\\astronomisk_live.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 1120,
        "wires": [
            [
                "718bb0a2788d2f91"
            ],
            [
                "718bb0a2788d2f91"
            ],
            [
                "718bb0a2788d2f91"
            ]
        ]
    },
    {
        "id": "07c682f3d144376c",
        "type": "inject",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1120,
        "wires": [
            [
                "5c34b010b743291d"
            ]
        ]
    },
    {
        "id": "718bb0a2788d2f91",
        "type": "debug",
        "z": "5c82d9b4d09c2894",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9bfd440e7e3a4e53",
        "type": "delay",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 1060,
        "wires": [
            [
                "5c34b010b743291d"
            ]
        ]
    },
    {
        "id": "a4934e5e83a9cdd6",
        "type": "complete",
        "z": "5c82d9b4d09c2894",
        "name": "",
        "scope": [
            "47f3a760e27e3454"
        ],
        "uncaught": false,
        "x": 90,
        "y": 1060,
        "wires": [
            [
                "9bfd440e7e3a4e53"
            ]
        ]
    }
]